# https://aka.ms/yaml

trigger:
  branches:
    include: [main]

strategy:
  matrix:
    java:
      lang: 'java'
    javascript:
      lang: 'javascript'
    python:
      lang: 'python'

pool:
  vmImage: ubuntu-latest

steps:

- script: |
    # download the toolchain
    wget \
      "https://github.com/github/codeql-action/releases/latest/download/codeql-bundle-linux64.tar.gz" \
      -O "../codeql-bundle-linux64.tar.gz"
    tar xzvf "../codeql-bundle-linux64.tar.gz" -C ../
    rm '../codeql-bundle-linux64.tar.gz'
    export PATH="../codeql:${PATH}"

    # sanity check
    codeql version

    # create database
    codeql \
      database create \
      --command './compile' \
      --threads 0 \
      --language '$(lang)' \
      --github-url 'https://github.com/' \
      --source-root . \
      '../db'

    # run analysis
    codeql \
      database analyze \
      --threads 0 \
      --format sarif-latest \
      --sarif-category $(lang) \
      --output '../results.sarif' \
      '../db' \
      $(lang)-security-and-quality.qls

    # upload results
    export GITHUB_TOKEN=$(GITHUB_TOKEN)
    codeql \
      github upload-results \
      --sarif '../results.sarif' \
      --github-url 'https://github.com/' \
      --repository 'zbazztian/azure-test' \
      --ref "$BUILD_SOURCEBRANCH" \
      --commit "$(git rev-parse HEAD)"

