# https://aka.ms/yaml

trigger:
  branches:
    include: [main]

pool:
  vmImage: ubuntu-latest

steps:

- script: |
    wget \
      "https://github.com/github/codeql-action/releases/latest/download/codeql-bundle-linux64.tar.gz" \
      -O "../codeql-bundle-linux64.tar.gz"
    tar xzvf "../codeql-bundle-linux64.tar.gz" -C ../
    rm '../codeql-bundle-linux64.tar.gz'
    export PATH="../codeql:${PATH}"
    codeql version
    codeql \
      database create \
      --command './compile' \
      --threads 0 \
      --language java \
      --github-url 'https://github.com/' \
      --source-root . \
      '../db'
    codeql \
      database analyze \
      --threads 0 \
      --format sarif-latest \
      --output '../results.sarif' \
      '../db' \
      java-code-scanning.qls
    export GITHUB_TOKEN=$(GITHUB_TOKEN)
    echo ${#GITHUB_TOKEN} 
    codeql \
      github upload-results \
      --sarif '../results.sarif' \
      --github-url 'https://github.com/' \
      --repository 'zbazztian/azure-test' \
      --ref 'refs/heads/main' \
      --commit "$(git rev-parse HEAD)"
